#itemDetailBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 500px;
    text-align: center;
    margin: 0 auto;
}

#itemBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 400px;
    height: 350px;
    color: black;
}

#nameText{
    margin-bottom: 20px;
}

#priceText{
    font-size: 2rem;
}

#descriptionText{
    text-align: center;
}

#imgItemDetail{
    max-width: 400px;
}

#backHomeDiv{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#backHomeLink{
    font-size: 1.5rem;
    text-decoration: none;
    color: #3232a1;
    border: 1px solid #3232a1;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 10px;
    background-color: rgb(172, 162, 143);
}

@media only screen and (max-width: 991px) {
    #imgItemDetail{
        max-width: 300px;
    }
  }