@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#buyMenuTitle{
    color: #bbbb9d;
    text-align: center;
    padding: 0px 10px;
    font-family: 'Josefin Sans', sans-serif;
}

#linkToHome{
    background-color: #bbbb9d;
    color: black;
    padding: 5px 15px;
    font-size: 1.4rem;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Montserrat', sans-serif;
}

#linkContainer{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#finishBuyForm{
    font-size: 1.2rem;
    font-family: 'Cormorant SC', serif;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    background-color: #bbbb9d;
    font-weight: bold;
}

#labelBuyForm{
    font-size: 1.2rem;
    font-family: 'Cormorant SC', serif;
}

.inputBuyForm{
    font-size: 1.2rem;
    font-family: 'Cormorant SC', serif;
    width: 300px;
}

#form{
    margin: 30px auto 0 auto;
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: wheat;
}

@media only screen and (max-width: 475px) {
    
    #buyMenuTitle{
        font-size: 1.5rem;
    }
}