#cartLink{
    width: 45px;
    height: 40px;
}

@media only screen and (max-width: 475px) {
    
    #cartLink{
        width: 40px;
        height: 35px;
    }
}

@media only screen and (max-width: 400px) {
    
    #cartLink{
        width: 35px;
        height: 30px;
    }
}