@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

#cardStyle{
    width: 240px;
    padding-bottom: 20px;
    margin: 60px;
    background-color: rgba(145, 126, 101, 0.784);
    box-shadow: -1px -1px 30px 10px rgba(255,255,255,0.45);
    -webkit-box-shadow: -1px -1px 30px 10px rgba(255,255,255,0.45);
    -moz-box-shadow: -1px -1px 30px 10px rgba(255,255,255,0.45);
}

#cardStyle:hover{
    transform: scale(1.015);
    transition: transform 400ms;
}

#cardTitle{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    min-height: 80px;
    font-family: 'Montserrat', sans-serif;
}

#cardBody{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#productDetails{
    margin: 0 auto;
    background-color: black;
    color: white;
    width: 150px;
    padding: 3px 0px;
    font-family: 'Montserrat', sans-serif;
}

#productDetails:hover{
    box-shadow: 0px 0px 30px 5px rgba(255,255,255,0.45);
    -webkit-box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.45);
    -moz-box-shadow: 0px 0px 30px 5px rgba(255,255,255,0.45);
}

#cardPrice{
    margin: 0;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}

#cardStock{
    margin: 0;
}

#inCartText{
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
}

#auxLink{
    text-decoration: none;
    color: bisque;
}

@media only screen and (max-width: 576px) {
    #cardStyle{
        width: 240px;
        margin: 40px 20px;
    }
  }