h1, h3{
    color: #bbbb9d;
    text-align: center;
}

#contactContainer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contactText{
    margin: 0 10px;
}

#contactButton{
    
}

#contactOptionsBox{
    margin-top: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#contactOption{
    display: flex;
    justify-content: center;
}