@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital@1&display=swap');

#navbar{
    /* background: #a9a9a92d; */
    top: 0;
    width: 100%;
}

#NavbarOrder{
    display: flex;
    flex-direction: column;
}

#navbarCategory{
    font-size: 1.8rem;
    text-align: center;
    width: 110px;
    padding: 2px;
    background-color: rgba(62, 49, 22, 0.193);
    border: 1px solid black;
    border-radius: 20px 20px 20px 20px;
    color: #bbbb9d;
    font-family: 'Zilla Slab', serif;
}

#navbarCategory:hover{
    transform: scale(1.07);
    transition: transform 80ms;
}

.navbarCategories{
    position: absolute;
    top: 35px;
}

#topNavbar{
    width: 100%;
    display: flex;
}

#navbarItemsOrder{
    margin: 0 auto;
    min-width: 550px;
    display: flex;
    justify-content: space-around;
}

#navbarBrand{
    margin: 0;
}

#cartBox{
    width: 100%;
    display: flex;
    justify-content: end;
}

#linkToCart{
    text-decoration: none;
    color: #bbbb9d;
}

#linkToContact{
    color: #bbbb9d;
}

#menuButton{
    color: #bbbb9d;
}

#rightNavbar{
    width: 220px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

#rightNavbarItem{
    min-width: 70px;
    display: flex;
    justify-content: center;
}

#rightNavbarIcon{
    width: 45px;
    height: 40px;
}

@media only screen and (max-width: 991px) {
    
    .navbarCategories{
        position: static;
        width: 80%;
    }

    #cartBox{
        margin-left: 10px;
    }

    #navbarItemsOrder{
        min-width: 0px;
        flex-direction: row;
        height: 80px;
        justify-content: space-around;
        align-items: center;
        font-size: 2rem;
    }

    #navbarCategory{
        font-size: 1.7rem;
        width: 90px;
    }
}

@media only screen and (max-width: 475px) {
    
    #navbar{
        padding-bottom: 20px;
    }
    
    #topNavbar{
        flex-direction: column;
    }
    
    #cartBox{
        margin: 10px 0 0 0 ;
    }

    #rightNavbar{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #rightNavbarIcon{
        width: 40px;
        height: 35px;
    }

    #navbarCategory{
        font-size: 1.4rem;
        width: 80px;
        padding: 5px;
        background-color: rgba(6, 4, 1, 0.315);
        border: 0;
    }

    #navbarBrand{
        margin: 0 auto;
    }
}

@media only screen and (max-width: 400px) {
    
    #rightNavbarIcon{
        width: 35px;
        height: 30px;
    }
}
