@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); /* ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap'); /* Quicksand */

#deleteAddButtons{
    width: 150px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

#aditionButton{
    width: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    background: none;
    border: 1px solid #3232a1;
    border-radius: 5px 5px 5px 5px;
    color: inherit;
    line-height: normal;
}

#counterBox{
    display: flex;
    width: 100%;
    max-width: 250px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0px 18px;
    font-family: 'Quicksand', sans-serif;
}

#counter{
    font-size: 1.2rem;
    margin: 0;
}

#addToCart{
    margin-top: 5px;
    padding: 4px 8px;
    width: 150px;
    line-height: normal;
    background: none;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #3232a1;
    color: black;
    font-size: 0.9rem;
    font-weight: bold;
}